<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Web Express Pro - Web Design, Development, & Management">
    <meta name="author" content="Stephen Brooks">
    <meta name="keywords" content="web, design, development, management">
    <meta name="robots" content="index, follow">
    <script src="https://kit.fontawesome.com/8791fcf073.js" crossorigin="anonymous"></script>
    <title>Web Express Pro - Web Design, Development, & Management</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="text/javascript " src="/scripts/index.js"></script>
</head>