<nav class="navbar scrollbar scroll">
    <ul class="nav-items-left">
        <li class="nav-item">
            <a href="/">
                <img src="/assets/logo.png" height="40" width="60" alt="logo">
            </a>
        </li>
        <li class="search-item" id="search1">
            <form action="/">
                <input type="search" class="form-search" placeholder="Search">
            </form>
        </li>
    </ul>
    <ul class="nav-items-right">
        <li class="dropdown-menu">
            <a type="button" class="dropbtn"><i class="fas fa-bars"></i></a>
            <div class="show">
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/#contact">Contact</a>
                    <a href="/projects">Projects</a>
                    <a href="/#services">Services</a>
                    <div class="search-dropdown" id="search2">
                        <form action="/">
                            <input type="search" class="search" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="/#contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
            <a href="/projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
            <a href="/#services" class="nav-link">Services</a>
        </li>
    </ul>
</nav>