<section class="intro-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 90vh;">
            <div class="col-lg-10">
                <h1 class="display-3">Web Design & Development</h1>
                <p class="lead mb-3">
                    Web Express Pro is a web design and development company. We provide web design, development, and management.
                </p>
                <a href="" class="btn btn-primary me-2 rounded-pill btn-lg">Projects</a>
                <a href="#contact" class="btn btn-secondary me-2 rounded-pill btn-lg">Contact</a>
            </div>
        </div>
    </div>
</section>