<section class="row justify-content-center mb-7 align-items-center">
    <div class="col-lg-6 mb-3">
        <h2 class="display-5">
            Web Design & Development
        </h2>
        <p class="lead">
            What makes us different from others? Our Technical support and project design is dedicated to you and your needs.
            When we start a project, we take ownership. Meeting the project deadline is our top priority. Building the web is what we do,
            and it is what we do best.
        </p>
    </div>
    <div class="col-lg-6 mb-3">
        <img src="/assets/computers.png" class="img-fluid" alt="Web Design & Development">
    </div>
    <div id="services"></div>
</section>