<section class="row mb-9">
    <div class="col-lg-12">
        <div class="card">
            <h5 class="h3"><span class="num">1)</span> Starting A Project</h5>
            <hr class="line">
            <p class="text-muted mb-5">
                Gathering all the facts and understand you. Your business is what you do, but building something that best represents you is valuable for the business or organization.
            </p>
            <h5 class="h3"><span class="num">2)</span> Choosing the layouts</h5>
            <hr class="line">
            <p class="text-muted mb-5">
                Choosing a layout for your new website with us is easy and there's no limit. If you can see it on the web, we can create it. Give us a chance to create something new for you.
            </p>
            <h5 class="h3"><span class="num">3)</span> Creating good content</h5>
            <hr class="line">
            <p class="text-muted mb-5">
                Creating good content and not just any content will make for better web visits to your website. Think of it as a visitor when it comes to content, would you read it if you were them?
            </p>
        </div>
    </div>
</section>