<section class="row align-items-center mb-4 flex-row-reverse">
    <div class="col-lg-5 p-3 mb-4">
        <h4 class="display-5 mb-3">User Design Experience</h4>
        <p class="lead mb-3">Making a difference is what we do. We are here to help you make a difference.</p>
        <ul class="list-style">
            <li>
                Custom-built pages with best code practices.
            </li>
            <li>
                Responsive design for all devices and screen sizes.
            </li>
        </ul>
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <p class="lead mb-3">
            From start to finish, we are here to help you build your story. It makes the first impression on your visitors.
        </p>
        <ul class="list-style">
            <li>
                From landing on your page to guiding the visitors.
            </li>
            <li>
                Offering a seamless user experience.
            </li>
        </ul>
    </div>
    <div class="col-lg-7 p-3 mb-4">
        <img src="/assets/webDesignBasics.png"
             class="img-fluid"
             alt="User Design Experience">
    </div>
</section>