<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<style>
    .about-intro {
        background: url("https://image-editing-services.com/wp-content/uploads/2018/10/about-us-background.jpg") no-repeat center center;
        background-size: cover;
        height: 40vh;
    }
</style>
<body>
<header>
    <%- include('layouts/navBar') -%>
    <section class="about-intro"></section>
</header>
<main class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 mb-5">
            <h1 class="display-3 mb-3 fw-light">About the <span class="fw-bold">Developer</span></h1>
            <p class="text-muted">
                Building and managing custom websites for the best user and client experience. Building all websites and apps with the standards
                of Html, Css, & JavaScript for web pages. This is the common practice of all websites and platforms. The backend uses JavaScript,
                connecting to a cloud service for holding database records. After deployment to your domain, updates and maintenance is a part of
                keeping your website healthy and going.
            </p>
        </div>
        <div class="col-lg-12 mb-5">
            <h2 class="mb-3">Making A Difference</h2>
            <p class="text-muted">
                With me, you get the benefits as if yu were going to an agency. I design websites on Figma first, develop the front and back end, deploy and host it.
                I get projects done in a timely manner, producing the same quality if not better, and help coach clients on free marketing.
            </p>
        </div>
        <div class="col-lg-12 mb-5">
            <h2 class="mb-3">From Ideas To Design</h2>
            <p class="text-muted">
                Making your ideas come to life, and most often times I exceed the expectations with my own brainstorming ideas. As the pages get built, a lot of ideas come
                into play that could improve the experience of the client and their intended audience.
            </p>
        </div>
    </div>
</main>
<%- include('layouts/footer') -%>
</body>
</html>