<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>

<body>
<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>
<main class="container my-5 py-5">
    <h1 class="display-1 text-center mb-2">My Previous Work</h1>
    <p class="lead text-center mb-5">Built with JavaScript, html, Scss, Express, and Node</p>
    <div class="row text-center">
        <div class="col-lg-3 hover mb-3">
            <a href="https://ambafarmersvoice-f65a13837578.herokuapp.com/" target="_blank">
                <img src="/assets/afv.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://young-men-of-distinction-4f0bc97b0c3f.herokuapp.com/" target="_blank">
                <img src="/assets/ymod.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://www.cosmicvibesnj.com" target="_blank">
                <img src="/assets/cosmicvibes.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://dramacidepaws.com/" target="_blank">
                <img src="/assets/dramacidekennel.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://asl-online.netlify.app/" target="_blank">
                <img src="/assets/asl.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://northfolk-dental.netlify.app/" target="_blank">
                <img src="/assets/dental.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://coffee-supplier.netlify.app/" target="_blank">
                <img src="/assets/coffeesupplier.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
        <div class="col-lg-3 hover mb-3">
            <a href="https://super-parfait-9210ca.netlify.app/" target="_blank">
                <img src="/assets/ecommerce.png" class="img-project-fluid rounded shadow-lg" alt="example">
            </a>
        </div>
    </div>
</main>
<%- include('layouts/footer') -%>
</body>
</html>