<div class="col-lg-3 mb-4">
    <div class="flip-box mb-2">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="https://websitesetup.org/wp-content/uploads/2019/01/Web-Developer.jpg" alt="Developer & Founder" style="width:100%;height:200px">
            </div>
            <div class="flip-box-back p-3">
                <h3>Web Developer & Founder</h3>
                <hr class="mb-2">
                <p>
                    First started learning with Udemy and reading an extensive amount of books, he began his journey
                    of helping small businesses with their websites.
                </p>
            </div>
        </div>
    </div>
    <h4>Stephen Brooks</h4>
</div>
<div class="col-lg-3 mb-4">
    <div class="flip-box mb-2">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="https://www.cosmicvibesnj.com/assets/energyHealing.png" alt="Paris" style="width:100%;height:200px">
            </div>
            <div class="flip-box-back p-3">
                <h3>Cosmic Vibes</h3>
                <hr class="mb-2">
                <p>Spiritual healing and psychic medium practice is what we accomplish and offer this service one on one or in group sessions.</p>
            </div>
        </div>
    </div>
    <h4>Reggie Dzuli</h4>
</div>
<div class="col-lg-3 mb-4">
    <div class="flip-box mb-2">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="https://young-men-of-distinction-4f0bc97b0c3f.herokuapp.com/assets/logo.png" alt="Paris" style="width:100%;height:200px">
            </div>
            <div class="flip-box-back p-3">
                <h3>Young Men of Distinction</h3>
                <hr class="mb-2">
                <p>Being a non-profit organization is about making a difference within your community and in the lives of others.</p>
            </div>
        </div>
    </div>
    <h4>Jacoby Waters</h4>
</div>
<div class="col-lg-3 mb-4">
    <div class="flip-box mb-2">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="https://dramacidepaws.com/assets/pawprint.png" alt="Paris" style="width:100%;height:200px">
            </div>
            <div class="flip-box-back p-3">
                <h3>Dramacide Kennel</h3>
                <hr class="mb-2">
                <p>HERE AT DRAMACIDE KENNEL, WE HAVE BEEN AROUND FOR 20 YEARS AND ALWAYS PLACED PUPS WITH LOVING FAMILIES.</p>
            </div>
        </div>
    </div>
    <h4>Tony Dunn</h4>
</div>